<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    {{#each product}}
    <div class="container__product">
        <div class="product__info">
            <div class="product__image">
            <img src= {{this.src}} alt="">
        </div>
            <h3>{{this.name}}</h3>
        </div>

        <div class="product__price">
            <h5>{{this.price}}</h5>
            <i class="fal fa-cart-arrow-down"></i>
        </div>

    </div>
    {{/each}}
    
     <script>
        
     </script>
</body>
</html>